* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #3f3f3f;
  transition: all 0.4s;
}

header {
  background-image: url("./img/intro-bg.png");
  background-size: cover;
  height: 1050px;
  box-shadow: 1px 1px 1rem black;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}
nav img {
  width: 250px;
}
nav a {
  color: white;
}
ul {
  display: flex;
  gap: 2rem;
}
li {
  font-size: 1.4rem;
}
li a:hover {
  color: #286ed4;
}
.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 4rem;
}
.intro-container h1,
.intro-container h2,
.intro-container button {
  color: white;
  font-weight: 300;
}
.intro-container h1 {
  font-size: 3rem;
}
.intro-container button {
  background-color: transparent;
  width: 200px;
  padding: 1rem 0;
  font-size: 1.4rem;
  border: 1px solid white;
  cursor: pointer;
  text-transform: uppercase;
}
.intro-container button:hover {
  background-color: #286ed4;
  border: 1px solid transparent;
}

/* AQUI SE INICIA A SEÇÃO SOBRE */

.sobre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  /* background-color: #757575; */
}
.sobre-container-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  align-items: center;
  gap: 1rem;
}
.sobre-container-main h1 {
  font-size: 2.4rem;
}
.sobre-container-main h2 {
  text-align: start;
}
.sobre-container-main p {
  max-width: 800px;
  font-size: 1.6rem;
  text-align: center;
}

.sobre-container-secondary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sobre-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  gap: 2rem;
}
.sobre-content div {
  max-width: 400px;
  text-align: start;
}
.sobre-content h1 {
  text-transform: uppercase;
}
.sobre-content p {
  font-size: 1.2rem;
}
.sobre-content img {
  max-width: 200px;
}

/* AQUI SE INICIA A SEÇÃO SERVICOS  */

.servicos-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin: 6rem 2rem;
  margin-top: 4rem;
}
.service-bg {
  background-image: url("./img/services-bg.png");
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service-bg h1 {
  color: white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.service-bg p {
  color: white;
  font-size: 1.2rem;
}
.servicos-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 1px 0px 5px #3f3f3f;
  cursor: pointer;
  max-width: 400px;
  height: 400px;
  padding: 1rem;
}
.servicos-content div img:hover {
  scale: 110%;
}
.servicos-content div img {
  max-width: 200px;
}
.servicos-content div h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.servicos-content div p {
  font-size: 1.2rem;
  max-height: 499px;
}

/* AQUI SE INICIA A SEÇÃO CONTATO */
.contato-container {
  background-image: url("./img/contact-bg.png");
  height: 580px;
  display: flex;
  justify-content: space-around;
}
.contato-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.contato-content h1 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: lighter;
}
.contato-content div img {
  max-width: 100px;
  margin-right: 2rem;
}
.contato-content div img:hover {
  scale: 107%;
}
.contato-content h1 spam {
  color: white;
  font-weight: bold;
  border-bottom: 5px solid #286ed4;
}
